
* {
    font-family: 'Titillium Web', sans-serif;
}
.bg {
    background-image: url('../images/bg4.jpeg');
    height: 360px;
    width: 100%;
    box-sizing: border-box;
    background-position: center;
    position: relative;
    background-size: cover;
}

h1.text-white {
    position: absolute;
    text-decoration: none;
    top: 13%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
p.latest{
    position: absolute;
    text-decoration: none;
    top: 12%;
    left: 86%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
}
p.date {
    position: absolute;
    text-decoration: none;
    top: 80%;
    left: 11%;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    opacity: 0.6;
    background-color: #eaeaea;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


@media only screen and (max-width: 1250px) {
    h1.text-white {
        position: absolute;
        text-decoration: none;
        top: 13%;
        left: 26%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
    }
    p.latest{
        position: absolute;
        text-decoration: none;
        top: 12%;
        left: 86%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 800;
    }
    p.date {
        position: absolute;
        text-decoration: none;
        top: 80%;
        left: 14%;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
        opacity: 0.6;
        background-color: #eaeaea;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
}


@media only screen and (max-width: 1100px) {
    h1.text-white {
        position: absolute;
        text-decoration: none;
        top: 13%;
        left: 30%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
    }
    p.latest{
        position: absolute;
        text-decoration: none;
        top: 12%;
        left: 86%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 800;
    }
    p.date {
        position: absolute;
        text-decoration: none;
        top: 80%;
        left: 14%;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
        opacity: 0.6;
        background-color: #eaeaea;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media only screen and (max-width: 980px) {
    h1.text-white {
        position: absolute;
        text-decoration: none;
        top: 13%;
        left: 30%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
    }
    p.latest{
        position: absolute;
        text-decoration: none;
        top: 12%;
        left: 86%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 800;
    }
    p.date {
        position: absolute;
        text-decoration: none;
        top: 80%;
        left: 20%;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
        opacity: 0.6;
        background-color: #eaeaea;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media only screen and (max-width: 577px) {
    h1.text-white {
        position: absolute;
        text-decoration: none;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
    }
    p.latest{
        position: absolute;
        text-decoration: none;
        top: 24%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 800;
    }
    p.date {
        position: absolute;
        text-decoration: none;
        top: 90%;
        left: 50%;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
        opacity: 0.6;
        background-color: #eaeaea;
        transform: translate(-50%, -50%);
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
    }
}
